apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-api
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-api
  template:
    metadata:
      labels:
        app: simple-api
    spec:
      containers:
      - name: simple-api
        image: dockeridsreekanth/org:d5d61a912280fbc160ff45a62f7022c67395d296
        ports:
        - containerPort: 3000
