apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-api
  template:
    metadata:
      labels:
        app: simple-api
    spec:
      containers:
      - name: simple-api
        image: dockeridsreekanth/org:dd3c2d087f468551fa4a4fe54615d1d39683650b
        ports:
        - containerPort: 3000
