apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-api
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-api
  template:
    metadata:
      labels:
        app: simple-api
    spec:
      containers:
      - name: simple-api
        image: ***/org:c5fca129e8629f2b7a8c9535be0e69bcc339d63a
        ports:
        - containerPort: 3000
