name: TEST AND BUILD
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
      env:
        NODE_ENV: development
    outputs:
      result : ${{steps.output_step.outputs.result}}
    steps:
     - name: CheckOutCode
       uses: actions/checkout@v6

     - name: Install all dependencies
       run: npm install

     - name: Test Code
       run: npm run test > test-result.txt
    
     - name: Run tests and save results
       run: |
          mkdir -p test-results
          npm run test -- --ci --reporters=default > test-results/test-result.txt 2>&1

     - name: Upload Test Artifacts
       uses: actions/upload-artifact@v4
       with:
        name: code-coverage-report
        path: test-results

     - name: Set Output
       id: output_step
       run: echo "result=success" >> $GITHUB_OUTPUT
  deploy:
    needs: test
    runs-on: ubuntu-latest
    container:
       image: node:20
       env:
         NODE_ENV: development
    steps:
    
      - name: Get Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: code-coverage-report
          path: /results

      - name: Install Produciton dependencies
        run: npm ci
      
      - name: Check Files
        run: ls /results/

      - name: Print Artifacts Result
        run: cat /results/test-result.txt
        
      - name: Print Results
        run: echo "The output of the BUILD Step is ${{needs.test.outputs.result}}"
       