name: TEST AND BUILD
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
      env:
        NODE_ENV: development
    steps:
     - name: CheckOutCode
       uses: actions/checkout@v6

     - name: Install dependencies
       run: npm ci

     - name: Test Code
       run: npm run test > test-result.txt
    
     - name: Run tests and save results
       run: |
          mkdir -p test-results
          npm run test -- --ci --reporters=default > test-results/test-result.txt 2>&1

     - name: Upload Test Artifacts
       uses: actions/upload-artifact@v4
       with:
        name: code-coverage-report
        path: test-results
  deploy:
    needs: test
    runs-on: ubuntu-latest
    container:
       image: node:20
       env:
         NODE_ENV: development
    steps:
      - name: Get Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: test-results
          path: /test-results
      
        

       