name: TEST AND BUILD
on: push


jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:24
      env:
        NODE_ENV: development
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # pass secret into container

    outputs:
      result : ${{steps.output_step.outputs.result}}
    steps:
     - name: CheckOutCode
       uses: actions/checkout@v6
     
     - name: Caching Node Modules
       id: modules_cache
       uses: actions/cache@v4
       with:
         path: node_modules
         key: deps-${{hashFiles('**/package-lock.json')}}


     - name: Install all dependencies
       run: npm install

     - name: Test Code
       run: npm run test > test-result.txt

     - name: Check SONAR_TOKEN secret
       run: echo "Secret length: ${#${{ secrets.SONAR_TOKEN }}}"

     - name: SonarCloud Scan
       uses: SonarSource/sonarcloud-github-action@v2
       with:
        organization: sreekanthta       # from step 2
        projectKey: sreekanthTa_DevopsPractice2    # from step 3
        token: ${{ secrets.SONAR_TOKEN  }}  # from step 5

    
     - name: Run tests and save results
       run: |
          mkdir -p test-results
          npm run test -- --ci --reporters=default > test-results/test-result.txt 2>&1

     - name: Upload Test Artifacts
       uses: actions/upload-artifact@v4
       with:
        name: code-coverage-report
        path: test-results

     - name: Set Output
       id: output_step
       run: echo "result=success" >> $GITHUB_OUTPUT
  test_learn:
    needs: test
    runs-on: ubuntu-latest
    container:
       image: node:20
       env:
         NODE_ENV: development
    steps:
    
      - name: Get Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: code-coverage-report
          path: /results
      - name: CheckOutCode
        uses: actions/checkout@v6
        
      - name: Use Node Modules from the cache test
        id: modules_cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}
        
      - name: Check Cache before npm install
        run: |
            if [ "${{steps.modules_cache.outputs.cache-hit}}" != 'true' ]; then
                echo "Cache Missing Installing dependencies..."
                npm install
            else
               echo "Cache hit! Skip Installation"
            fi
      - name: Check Files
        run: ls /results/

      - name: Print Artifacts Result
        run: cat /results/test-result.txt
        
      - name: Print Results
        run: echo "The output of the BUILD Step is ${{needs.test.outputs.result}}"
  build_and_test_image:
   needs: test_learn
   runs-on: ubuntu-latest
   steps:
     - name: Checkout Code
       uses: actions/checkout@v4

     - name: Build Docker image
       run: docker build --no-cache -t docker.io/my-organization/my-app:${{ github.sha }} .

     - name: Inspect installed packages
       run: docker run --rm docker.io/my-organization/my-app:${{ github.sha }} sh -c "npm list cross-spawn glob"

     - name: Set up Docker
       uses: docker/setup-buildx-action@v2

     - name: Scan image
       uses: aquasecurity/trivy-action@0.33.1
       with:
          image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL'


 